@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, retro, dracula, synthwave, bumblebee, emerald, corporate, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, cmyk, autumn, business, acid, lemonade, night, coffee, winter,cyberpunk;
}